<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FolderPath" value="D:\TestFolder" />
    <add key="FileExtension" value="*.csv"/>
  </appSettings>
  <connectionStrings>
    <add name="BaseModel" connectionString="data source=(local)\SQLEXPRESS;initial catalog=&quot;shop base&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>